<!DOCTYPE html>
<html lang=“en”>
   <head>
        <title> Prediction </title>
    </head>
    
    <body style="text-align: center">      
            <h1>
                Hello! <br><br>
                Enter values below to see charts.
            </h1> 
            
                <br>
                <form method="POST" action="/getCharts" id=pform>
                    <div>
                      Enter first value name <input type="text" name="value1name"> and amount <input type="number" name="value1amount"><br>
                      Enter second value name <input type="text" name="value2name"> and amount <input type="number" name="value2amount"><br>
                      Enter third value name <input type="text" name="value3name"> and amount <input type="number" name="value3amount"><br>
                      Enter fourth value name <input type="text" name="value4name"> and amount <input type="number" name="value4amount"><br>
                      <br>
                      <input type="submit" name="submit" value="Submit">
                    </div>
                </form>
            </h2>
    </body>
</html>
